In [1]:
# Q_1
# we can use hash sign(#) for comment before the every single line of code.
# we can also use triple quotation mark(""").Using triple quotation mark close all multiple lines and convert to string.
# Two type of comment is there - 1) single line comment. 2)- multiple line comment

In [4]:
# Q_2
# Varaible in Python -
# Variables are assigning the value for object.
# It stores value in computer memory.
# It acts like a container.
# It stores different data type value for example str, int, float, list, tuple, complex etc. 
# Variable are used to store data and manipulate during execution of program.
A = 34
# A is variable, it assign value 34.
type (A)

int

In [8]:
# Q_3
# Convert one data type to another data type just put that data type function before the variable.
# Different type of data type function is there int, float, str, list, tuple.
A_int = 34
type(A_int)
B_str = str(A_int)

In [11]:
type(A_int)

int

In [12]:
type(B_str)

str

In [13]:
B_str

'34'

In [14]:
# Variable B_str is string. We convert variable A_int integer to string.

In [22]:
# Q_4
marks = 45
if marks >= 85:
    print("mukesh rank in top 80")
elif marks >= 60 and marks < 85:
        print("mukesh rank in top 200")
elif marks>= 40 and marks <60:
        print("mukesh rank in top 2000")
else:
    print("not qualified")
# (base) jovyan@8779f2a67b7f:~/work$ ls
#  assignment                   README.md           Untitled1.ipynb
#  Assignment_1.ipynb           sample-code.ipynb   Untitled2.ipynb
#  Assignment_2.ipynb           script.ipynb        Untitled3.ipynb
#  condition                    script.py           Untitled4.ipynb
#  condition.ipynb              string.ipynb        Untitled5.ipynb
#  Dictionary.ipynb             Untitled12.ipynb    Untitled7.ipynb
# 'list, tuple and set.ipynb'   Untitled13.ipynb    Untitled8.ipynb
#  Q_4_script.ipynb             Untitled14.ipynb    Untitled.ipynb
# (base) jovyan@8779f2a67b7f:~/work$ python Q_4_script.ipynb
# mukesh rank in top 2000

mukesh rank in top 2000

In [29]:
# Q_5
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

In [31]:
# Q_6
# Complex number(x)= a + bi
# a = real part and b = imaginary part
# complex number represented by (a +bj) replace i by j.example-
x = 5 + 8j
type(x)

complex

In [32]:
# Q_7
age = 25

In [33]:
# Q_8
price = 9.99
type(price)

float

In [34]:
# Q_9
name = "pawan"
print(name)

pawan

In [37]:
# Q_10
a = "Hello, World"
a[7:]

'World'

In [39]:
# Q_11
is_student = True
type(is_student)

bool